#img-bg{
    background-image: url('https://thumbs.gfycat.com/ForthrightShabbyAnkole-size_restricted.gif');

    min-height: 690px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}